# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# React build
build/

# Dependency directories
node_modules/

# dotenv environment variables file
.env

# misc
.DS_Store

# visual studio code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.vscode/launch.json

# Python caches
__pycache__/