# setting placeholder for environment variables in elastic beanstalk
# reference : https://stackoverflow.com/questions/11211007/how-do-you-pass-custom-environment-variable-on-amazon-elastic-beanstalk-aws-ebs

option_settings:
  - option_name: ps_neo4j_pwd
    value: placeholder-value-change-me
  - option_name: ps_neo4j_user
    value: placeholder-value-change-me
  - option_name: ps_neo4j_bolt_url
    value: placeholder-value-change-me
