# setting placeholder for environment variables in elastic beanstalk
# reference : https://stackoverflow.com/questions/11211007/how-do-you-pass-custom-environment-variable-on-amazon-elastic-beanstalk-aws-ebs

option_settings:
  - option_name: PS_NEO4J_PWD
    value: placeholder-value-change-me
  - option_name: PS_NEO4J_USER
    value: placeholder-value-change-me
  - option_name: PS_NEO4J_BOLT_URL
    value: placeholder-value-change-me
