#home-container {
    padding-top: 67px;
}
.hero {
    height: calc(100vh - 180px);
    background: rgb(6,110,226);
    background: url("https://www.transparenttextures.com/patterns/back-pattern.png"), linear-gradient(170deg, rgba(6,110,226,1) 0%, rgba(30,184,214,1) 100%);
}

.hero-text {
    color: rgb(252, 252, 252);
    text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.15);
}

.hero-text > h1 {
    font-size: 4em;
}

.category-card {
    text-shadow: 2px 2px 3px rgba(25, 25, 25, 0.15);
    color: rgb(247, 247, 247);
    background: rgb(227,149,5) !important;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,136,0,1) 0%, rgba(255,166,0,1) 100% ) !important;
    text-align: center;
    padding-top: 1.5em !important;
    padding-bottom: 2em !important;
    cursor: pointer;
}

.category-card:hover {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(242,123,0,1) 0%, rgba(242,153,0,1) 100% ) !important;
}

.category-card__icon {
    align-self: center;
    font-size: 3em !important;
}

